


    #mainMenu{
        width: 60vw;
        height: 30vh;
        background-color: red;
        position: absolute;
        top:35vh;
        left:20vw;
        border: solid black 0.4vw;
    }

    #text{
        font-weight: bold;
        font-size: large;
        text-align: center;
        color: white;
    }

    .sButtons{
        width: 5vw;
        text-align: center;
        border: solid black 0.2vw;
        border-radius: 3px;
        margin-left: 11vw;
    }

    .centered {
        display: flex;
        align-items: center;
        /* justify-content: center; */
        margin-left: 10vw;
        margin-top: 2vh;
    }

    #score{
        background-color: white;
        color: black;
    }

  /* @media (max-width: 600px)
  {
    #mainMenu{
        background-color: green;
        height: 60vh;
    }
  } */