
#stats{
    width: 60vw;
    height: 25vh;
    background-color: red;
    position: absolute;
    top:64.6vh;
    left:20vw;
    border-bottom: solid black 0.4vw;
    border-left: solid black 0.4vw;
    border-right: solid black 0.4vw;
    overflow: auto;
    display: none;
}

#customers td, #customers th {
    border: 1px solid black;
    padding: 8px;
    color: white;
    text-align: center;
    width: 19vw;
  }